<li><a href="{% url 'homepage' subdomain='contacts' %}">Homepage</a></li>
<li><a href="{% url 'identity__list' subdomain='contacts' %}">Identities</a></li>
<li><a href="{% url 'org__list' subdomain='contacts' %}">Organizations</a></li>
<li><a href="{% url 'explorer' facet='people' subdomain='contacts' %}">People's graph</a></li>
<li><a href="{% url 'explorer' facet='skills' subdomain='contacts' %}">Skill's graph</a></li>

